html.dark {
  aside {
    background-color: @color[black-light];
    color: @color[gray-lightest];

    .link {
      color: @color[gray-lighter];

      &:is(.active, :hover) {
        color: @color[blue-lighten];
      }
    }

    details {
      border: none;

      > summary {
        background-color: @color[transparent];
        color: @color[gray-lightest];

        &:hover {
          background-color: @color[transparent];
          color: @color[blue-lighten];
        }

        .icon {
          color: @color[gray];
        }
      }

      > .content {
        background-color: @color[black-light];
      }

      .link {
        &:is(.active, :hover) {
          color: @color[blue-lighten];
        }
      }
    }

    details[open] {
      > summary {
        border-bottom: none;
      }
    }
  }
}
