each(@overflows, {
  .\--overflow-@{value} {
    overflow: @value !important;
  }

  .\--overflow-x-@{value} {
    overflow: @value !important;
  }

  .\--overflow-y-@{value} {
    overflow: @value !important;
  }
});
