.chip {
  align-items: center;
  background-color: @color[gray-lighter];
  border: 2px solid @color[gray-lighter];
  border-radius: @radius;
  color: @color[gray-darkest];
  display: inline-flex;
  font-size: 90%;
  margin: 0.1rem;
  max-width: 320px;
  overflow: hidden;
  padding: 0.1rem @padding[2];
  text-decoration: none;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;

  &.-outline {
    background-color: @color[transparent];
    border: 2px solid @color[gray-lighten];
  }

  each(@swatches, {
    &.-@{value} {
      background: @@value[background];
      border: 2px solid @@value[border];
      color: @@value[color];

      &.-outline {
        background-color: @color[transparent];
        border: 2px solid @@value[border];
        color: if(@value = light, @color[white], @color[gray-darker]);
      }
    }
  });
}
