html.dark {
  .modal:not(.-primary):not(.-success):not(.-warning):not(.-danger):not(.-dark):not(.-light) {
    > .dialog {
      background-color: @color[black-light];

      > header {
        border-bottom: 2px solid @color[black];
      }

      > footer {
        border-top: 2px solid @color[black];
      }

      > .actions {
        border-top: 2px solid @color[black];

        a,
        button {
          &:not(:last-child) {
            border-right: 2px solid @color[black];
          }
        }
      }
    }
  }

  .modal-toggle {
    &:focus-visible {
      + label {
        outline: 2px dashed @color[gray-lightest];
      }
    }
  }
}
