.tabs {
  background-color: @color[gray-lighter];
  border-radius: @radius;
  box-shadow: @box-shadow[shadow];
  display: grid;
  flex-wrap: wrap;
  overflow: hidden;
  width: 100%;

  > :is(input[type="checkbox"], input[type="radio"]) {
    height: 0;
    opacity: 0;
    width: 0;
    margin: 0;

    &:checked {
      + label {
        background-color: @color[white];
        border-bottom: 2px solid @color[blue];
        color: @color[blue];
        z-index: 200;

        + .content {
          display: block;
        }
      }
    }

    &:focus-visible {
      + label {
        outline: 2px dashed @color[gray-darkest];
        outline-offset: -2px;
      }
    }
  }

  > label {
    background-color: @color[gray-lighter];
    border: 2px solid transparent;
    color: @color[black-lighter];
    cursor: pointer;
    display: flex;
    font-size: @font-size[sm];
    font-weight: @font-weight[medium];
    padding: @padding[4] @padding[8];

    &:hover {
      background-color: @color[gray-lighter];
      color: @color[black-lighten];
    }
  }

  > .content {
    border-top: 1px solid @color[gray-lighter];
    display: none;
    order: 99;
    padding: @padding[6];
    background-color: @color[white];
    margin-top: -1px;
  }
}

@media (min-width: @breakpoint[md]) {
  .tabs {
    display: flex;

    > label {
      width: auto;
    }

    > .content {
      order: 99;
    }
  }
}
