html.dark {
  .tabs {
    background-color: @color[black-lighten];

    > :is(input[type="checkbox"], input[type="radio"]) {
      &:checked {
        + label {
          background-color: @color[black-lighter];
          border-bottom: 2px solid @color[blue-lightest];
          color: @color[blue-lightest];
        }
      }

      &:focus-visible {
        + label {
          outline: 2px dashed @color[gray-lightest];
          outline-offset: -2px;
        }
      }
    }

    > label {
      background-color: @color[black-lighten];
      color: @color[gray-lighten];

      &:hover {
        background-color: @color[black-lighten];
        color: @color[gray];
      }
    }

    > .content {
      background-color: @color[black-lighter];
      border-top: 1px solid @color[black-lighten];
    }
  }
}
