*,
::before,
::after {
  box-sizing: border-box;
  min-width: 0;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

:focus-visible {
  outline: 2px dashed @color[gray-darkest];
}

html {
  -webkit-tap-highlight-color: transparent;
  font-family:
    system-ui,
    /* macOS 10.11-10.12 */ -apple-system,
    /* Windows 6+ */ "Segoe UI",
    /* Android 4+ */ "Roboto",
    /* Ubuntu 10.10+ */ "Ubuntu",
    /* Gnome 3+ */ "Cantarell",
    /* KDE Plasma 5+ */ "Noto Sans",
    /* fallback */ sans-serif,
    /* macOS emoji */ "Apple Color Emoji",
    /* Windows emoji */ "Segoe UI Emoji",
    /* Windows emoji */ "Segoe UI Symbol",
    /* Linux emoji */ "Noto Color Emoji";
  cursor: default;
  height: 100%;
  line-height: 1.5;
  tab-size: 2;
  scrollbar-width: thin;
  scrollbar-color: @color[gray-lighten] @color[white-dark];
  text-size-adjust: 100%;
  word-break: break-word;

  * {
    scrollbar-width: thin;
    scrollbar-color: @color[gray-lighten] @color[white-dark];
  }

  ::-webkit-scrollbar {
    height: 6px;
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background: @color[white-dark];
    border: 1px solid @color[gray-lighter];
  }

  ::-webkit-scrollbar-thumb {
    background: @color[gray-lighten];
    border-radius: @radius;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: @color[gray];
  }
}

small {
  font-size: 80%;
}

:is(code, kbd, samp, pre) {
  font-family:
    /* macOS 10.10+ */ "Menlo",
    /* Windows 6+ */ "Consolas",
    /* Android 4+ */ "Roboto Mono",
    /* Ubuntu 10.10+ */ "Ubuntu Monospace",
    /* KDE Plasma 5+ */ "Noto Mono",
    /* KDE Plasma 4+ */ "Oxygen Mono",
    /* Linux/OpenOffice fallback */ "Liberation Mono",
    /* fallback */ monospace,
    /* macOS emoji */ "Apple Color Emoji",
    /* Windows emoji */ "Segoe UI Emoji",
    /* Windows emoji */ "Segoe UI Symbol",
    /* Linux emoji */ "Noto Color Emoji";
  font-size: 1em;
}

b,
strong {
  font-weight: bolder;
}

body {
  background: @color[white];
  color: @color[gray-darkest];
  margin: 0;
  height: 100%;
}

main {
  display: block;
}

a {
  background-color: transparent;
  color: @color[blue];
  text-decoration: none;

  &:is(:link, :visited) {
    color: @color[blue];
  }

  &:is(:hover, :active) {
    color: @color[blue-darken];
  }
}

:is(h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6) {
  color: inherit;
  font-weight: 500;
  line-height: 1.5;
  margin: 0.5rem 0;
}

h1,
.h1 {
  font-size: @font-size[3xl];
}

h2,
.h2 {
  font-size: @font-size[2xl];
}

h3,
.h3 {
  font-size: @font-size[xl];
}

h4,
.h4 {
  font-size: @font-size[lg];
}

h5,
.h5 {
  font-size: @font-size[base];
}

h6,
.h6 {
  font-size: @font-size[sm];
}

abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted;
}

:is(audio, canvas, iframe, img, svg, video) {
  vertical-align: middle;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

iframe {
  border-style: none;
}

img {
  border-style: none;
}

svg:not([fill]) {
  fill: currentColor;
}

svg:not(:root) {
  overflow: hidden;
}

canvas {
  display: inline-block;
}

kbd {
  background-color: @color[gray-lightest];
  border: 2px solid @color[gray-lighten];
  border-radius: @radius;
  box-shadow: @box-shadow[shadow];
  color: @color[gray-darkest];
  display: inline-block;
  font-size: @font-size[sm];
  font-weight: @font-weight[semibold];
  padding: 0 @padding[1];
  white-space: nowrap;
}

time {
  font-weight: @font-weight[semibold];
}

mark {
  background-color: @color[yellow-lightest];
  color: @color[gray-darkest];
  padding: 0 @padding[1];
}

:is(a, area, button, input, label, select, summary, textarea, [tabindex]) {
  touch-action: manipulation;
}

[hidden] {
  display: none;
}

[aria-busy="true"] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled="true"],
[disabled] {
  cursor: not-allowed;
}

[aria-hidden="false"][hidden] {
  display: initial;
}

[aria-hidden="false"][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

@media (prefers-reduced-motion) {
  * {
    transition: all 0ms !important;

    &::before {
      transition: all 0ms !important;
    }

    &::after {
      transition: all 0ms !important;
    }
  }
}
